{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Active</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.active ? 'Oui' : 'Non' }}</td>
                <td>{{ product.price | number_format(2, ',', ' ') }}€</td>
                <td>
                    <a href="{{ path('cart_product_edit', { id: product.id }) }}" class="btn btn-outline-primary btn-sm">Editer</a>
                    <a href="{{ path('cart_product_delete', { id: product.id }) }}" class="btn btn-outline-danger btn-sm">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}